In [4]:
7+3*2**7-256

135

In [31]:
x = "don\'t want no riddle"
print(x[4],x[9],x[18])

t t l

In [36]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(letters[:8:-2])

zxvtrpnlj

In [35]:
a = "2023년"
b = 100
c = None
d = False
print(a)
print(b)
print(c)
print(d)

2023년
100
None
False

In [39]:
# [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
scores = [88, 73, 89, 59, 77]
60 < and False

SyntaxError: invalid syntax (3229486218.py, line 3)

In [42]:
# [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
# | or /// & and
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [47]:
### append 맨뒤로
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 8]

# 2. insert(인덱스, 요소)

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers),0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 9, 10, 0]

## extend는 리스트1에 리스트2를 뒤로 붙인다.
#### 리스트1.extend(리스트2)

In [49]:
numbers.extend([9,10,11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 9, 10, 0, 9, 10, 11]

# remove(요소) 리스트에서 요소와 같은걸 삭제
##### remove는 숫자만 빠지는것
##### 중복시 리스트 앞에 숫자를 삭제

In [124]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
numbers.remove(5)   # 앞쪽 11만 제거  
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 6, 7, 8, 9, 10]

## pop() 리스트 제일 마지막 요소(리스트[-1])를 리스트에서 제거한다. 제거한 요소는 반환됨

In [58]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers.pop())
print(numbers)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### index(인자) 리스트 안에 인자와 같은 요소를 앞에서 부터 찾습니다. 
### 제일 처음 발견된 요소의 인덱스 위치를 반환합니다

In [110]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers.index(4))

3

### count(인자) 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환한다.

In [61]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
print(numbers.count(0))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0

## 리스트 정렬하기
- sort() 는 오름차순
- reverse() 는 순서를 뒤집는거
반환 값은 둘 다 None

In [62]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
numbers.sort()

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## stack

In [65]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop()) #7 반환

print(stack)

print(stack.pop()) #6 반환

print(stack)

print(stack.pop()) #5 반환

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
[3, 4, 5]
5
[3, 4]

In [66]:
## 튜플은 수정이 불가
tuple_variable = (1,2,3,4,5,"hello")
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [67]:
## 슬라이싱으로도 수정 불가
tuple_variable[1:3] = ("dd", "ee")

TypeError: 'tuple' object does not support item assignment

In [68]:
## 삭제도 안됨;
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

In [70]:
## 튜플 자료형은 소괄호 생략이 가능 /// 명확하게 표현하는게 더좋음
t_v = "음","오","아","예"
print(type(t_v))
print(t_v)

<class 'tuple'>
('음', '오', '아', '예')

## 튜플(tuple) 
#### 리스트는 크기가 바뀔수 있어 그에 따른 초과할당까지 고려해 메모리에 데이터를 저장할 수 있을지 생각해야함
#### 튜플은 빠르게 생성가능하고 리스트보다 용량이 적음

In [79]:
# 튜플과 리스트의 소요시간 비교

import time
curr = time.time() #시작시간
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i, j))#튜플 생성
        
last = time.time() #끝난 시간
print(last - curr)

0.18724346160888672

In [80]:
import time
curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i, j])
        
last = time.time()
print(last - curr)

0.5731015205383301

### 변수 여럿에 동시 할당하기
- unpacking

In [81]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [82]:
s3,s4,s5 = ["이렇게", "리스트도","가능합니다."]
print(s3,s4,s5)

이렇게 리스트도 가능합니다.

In [86]:
s6,s7,s8,s9 = "문자열도"
print(s6,s7,s8,s9)

문 자 열 도

In [94]:
## 파이썬 입력 사용해보기

# input() 내장 함수 사용해서 사용자로부터 값을 받아옴
# 받아온 값은 문자열로 받음
# input("msg")>>>>return 사용자가 입력한 값(str)

input_value = input("msg")

print("input_value:", input_value, "\ntype:", type(input_value))
print(input_value)

msg 789545548233

input_value: 789545548233
type: <class 'str'>
789545548233

In [103]:
### 소괄호 먼저
input_value2 = input("정수외에 다른 값을 입력해")

inpu_value2 = int(input_value2)

정수외에 다른 값을 입력해 555

In [96]:
input_value2 = float(input_value2)
print(input_value2)

input_value2 = int(input_value2)
print(input_value2)

1.1
1

In [97]:
input_value3 = input("정수 외에 다른 값을 입력해보세요") # eng으로

int(input_value3)

정수 외에 다른 값을 입력해보세요 eng

ValueError: invalid literal for int() with base 10: 'eng'

In [ ]:
input_value4 = int(input("정수를 입력해주세요:")) #5

print(input_value4)

정수를 입력해주세요: 5

5

In [104]:
name = input("이름을 입력하시오:")
print(name,"씨, 안녕하세요? \n파이썬에 오신 것을 환영합니다.")
first = int(input("첫 번째 정수를 입력하세요:"))
second = int(input("두 번째 정수를 입력하세요:"))
print(first,"과",second,"의 합은",first + second,"입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [109]:
ground = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디입니까?")
lose = input("진팀은 어디입니까?")
a = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("[속보]",win,"가",score,"로 승리...")
print("오늘", ground, "경기장에서 야구 경기가 있었습니다.")
print(win,"와",lose,"는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서",a,"가 맹활약을 했습니다.")
print("그 끝내", win,"가",lose,"를",score,"로 승리하였습니다.")
print("기사 끝")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝

In [148]:
### 입력 값을 여러 개의 변수에 저장하기
##

result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [149]:
m = input("hh:mm:ss의 형태로 시간을 입력해주세요")
result = m.split(':')
print("실행결과:", m)
print("시:",result[0])
print("분:",result[1])
print("초:",result[2])

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:25

실행결과: 12:33:25
시: 12
분: 33
초: 25

In [150]:
### 해답

h,m,s = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")
print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:25

시 : 12
분 : 33
초 : 25

#### map() 내장 함수 이용하기  
#### 한번에 적용하는 방법  
#### map(function, iterable) >> <class 'map'
##### a = list(map(int(a)) int(a[0])   # (a)는 변환하고싶은 값

In [130]:
a = [11.2,2.5,3.7,4.6]
a = list(map(int,a))
print(a)

[11, 2, 3, 4]

In [153]:
kor, eng, mat, sci = input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(",")
evg = (int(kor)+int(eng)+int(mat)+int(sci))/4
print("실행 결과:\n평균 점수는",evg ,"점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

실행 결과:
평균 점수는 98.5 점입니다.

In [152]:
#### 해답
kor, eng, mat, sci = map(int,input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(","))
evg = (kor+eng+mat+sci)/4
print("평균 점수는",evg ,"점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [166]:
#map은????/?
ss = map(int,input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(","))
kor = 98
eng = 100
mat = 96
sci = 100
evg = (kor+eng+mat+sci)/4
print("평균 점수는",evg ,"점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [157]:
#파이썬 출력 - 값과 값을 구분하는 단위 변경하기
#print() 함수를 여러 인자 값으로 사용한다면, 값과 값을 구분하는 기본 문자는 공백으로 되어있는 걸 앞서 확인
#맨 마지막에 ' sep = 구분기호 '를 작성하여 이를 공백이 아닌 다른 문자로 변경 가능
#키워드로 지정된 값

In [156]:
print("value",1,1.1,[1,2,'text'], sep = ", ")

value, 1, 1.1, [1, 2, 'text']

In [168]:
#파이썬 출력 - 맨뒤 출력 문자 변경하기
#출력되는 문자열 맨뒤에 개행 문자를 기본값으로 사용했기 때문, 이는 end=문자열을 맨뒤에 입력하여 변경할수있음.

print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=", ", end="")
print("어떻게 사용하는지", "이해가 되시나요", sep="\n", end="?")

#줄이 바뀌지 않음 . end="\n"와 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다
#sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [164]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, end=" ", sep="/" )
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [176]:
ap, tan = map(int,input("사과와 귤을 몇개 드릴까요? ").split(","))
ap_p = 1000 * ap
tan_p = 200 * tan
print("총 가격은 ",ap_p + tan_p,"원입니다", sep="")

사과와 귤을 몇개 드릴까요?  10,20

총 가격은 14000원입니다

In [178]:
## 해답

In [ ]:
## if 문
## 만약 이조건이 True면 아래 들여쓰기한 부분을 실행해:
## ` 들여쓰기(꼭 띄어쓰기 4칸 기억하기) `##

## 만약 이조건이 False면 아래 들여쓰기한 부분을 패스해:
## ` 들여쓰기(꼭 띄어쓰기 4칸 기억하기) `##

In [180]:
# 객체 타입을 비교할 때는 
## 좌 is 우 / 좌우 객체를 비교해 동일한 종류의 객체라면 True 다른객체라면 False
type(input_value4) is int

True

In [181]:
# if문 예제
다시 풀기
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [182]:
# 논리 연산 (and, or, not)

In [9]:
# if문 > 만약 이 조건이 False면 아래 들여쓰기한 부분 패스해:
# elif문 > 위 조건이 아니고 만약 이 조건이 True면 아래 들여쓰기한 부분을 실행해:
# else문 > 위조건이 모두 아니라면

In [185]:
age = 39
if 20 <= age < 30:            # F
    print("20대 입니다.")
elif 30 <= age < 40:          #T
    print("30대 입니다.")

30대 입니다.
감사합니다

In [186]:
# 겹치지 않았을때 순서를 고려하지 않아도 무방
# 상호 배타적이지 않은 경우(겹침x) if문과 elif문의 조건 순서를 반드시 고려해야한다.

In [12]:
# Q. 사용자로부터 아이디를 입력받습니다. 이때 아이디가 'admin'이면 '최고관리자, 모든 권한을 갖습니다.'를 출력하고 프로그램을 종료합니다.
#    아이디가 'admin'이 아니면 회원 등급을 정수로 입력받습니다. 만약 회원 레벨이 1~3 사이 값이면 '제한적인 권한을 갖습니다.'를 출력하고,
#    그렇지 않으면 '권한이 없습니다.'를 출력하는 프로그램을 작성해보세요.'''

id = input("실행결과:\n아이디를 입력하세요:")
if id == "admin":
    print("최고 관리자, 모든 권한을 갖습니다.")
    exit()    # 프로그램 종료
else:
    lv = int(input("회원 등급을 입력해주세요"))
    if  1 <= lv <= 3:
        print("\n제한적인 권한을 갖습니다.")
    else:
        print("\n권한이 없습니다.")
        
#문장 순서대로 차근차근 보기

실행결과:
아이디를 입력하세요: biana
회원 등급을 입력해주세요 3

제한적인 권한을 갖습니다.