In [3]:

language = 'python'
print(language[0],language[2], sep = "")

pt

In [17]:
for n in range(5):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [18]:
#while문으로 100회 출력하기
i = 0
while i <100:
    print('hello ')
    i += 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
#
count = int(input("반복할 횟수를 입력하세요:"))
while count > 0 :
    print("hello world",count)
    count -= 1

반복할 횟수를 입력하세요: 3

hello world 3
hello world 2
hello world 1

In [27]:
i = 2
while 0 < i <=100:
    print(i,end="\t")
    i += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

#### 선생님이 풀어주신 해답

In [88]:
i = 1
while i <= 50:
    print(i * 2, end = "\t")
    i += 1

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [32]:
p = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
m = 1
while m < 10:           # while 어디 조건까지 반복
    print(p, "*", m,"=",p * m)
    m += 1

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 선생님이 풀어주신 해답

In [89]:
# while문
num = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
i = 1
while i <= 9:
    print(num, "*", i,"=",num * i)
    i +=1

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [92]:
# for문
num = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
for n in range(1,10):
    print(num, "*", n,"=",num * n)

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [51]:
#  i = input(str(1)+"번 학생의 점수 :\n")
#e = input(str(2)+"번 학생의 점수 :\n")
#o = input(str(3)+"번 학생의 점수 :\n")

score = int(input("학생의 수:\n"))      # input 에 인자값을 여러개 넣으면 오류가 남 # 학생의 수 / 평균
grae = []
k = 1                                  # 3번 반복한걸 하나로 줄임

while score > 0:            
    h = int(input(str(k)+"학생의 점수:"))
    grae.append(h)
    k = k+1
    score = score-1
ev = (grae[0]+grae[1]+grae[2])/3
print(ev)

학생의 수:
 3
1학생의 점수: 77
2학생의 점수: 88
3학생의 점수: 99

88.0

In [52]:
# 해답

tot = 0
sn = int(input("학생의 수 :"))
i = 1
while <= sn:
    tot += int(input(str(i) +"번 학생의 점수 : "))
    i += 1
print("평균:",

In [54]:
# A학급의 수학 점수가 다음과 같을 때 while문 조건식에 len()함수를 사용하여 이 학급의 평균 점수를 구하는 프로그램을 구현해보세요.

class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
i = 0
evg = 0
while i < len(class_a):
    num = class_a[i]
    i += 1
    evg += num
evg = evg / 10
print(evg)

79.0

In [55]:
# 0부터 100까지의 자연수의 총합을 구하는 프로그램을 구현해보세요.
# - while문과 break활용

i = 0
total = 0
while True:
    total += i
    i = i + 1
    if i > 100:
        break
print(total)

5050

In [56]:
# 아래 소스코드를 완성하여 0부터 100사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요
# / 10 ==3 / 슬라이싱            # 3으로 끝나는 숫자만 나열
i = 0
while True:
    if i % 10 != 3:
        if i == 100:
            break
        i += 1
        continue
    print(i, end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [57]:
# 선생님 해답
i = 0
while True:
    if i % 10 != 3:
        i +=1
        continue
    if i > 100:
        break
    print(i, end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [60]:
# Q 1부터 10까지의 순서대로 줄을 바꾸지 않고 출력 값마다 뒤에 공백을 표시합니다.
#(for/while)
i = 0
while i < 10:
    i += 1
    print(i,' ', end = ' ')

1   2   3   4   5   6   7   8   9   10

In [61]:
for i in range(1,11):
    print(i,' ', end = ' ')

1   2   3   4   5   6   7   8   9   10

In [67]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
i = n
while i <= m:
    total += i
    i += 1
print(f'{n}부터 {m}까지의 합은 {total}입니다.')

시작하는 정수 입력: 1
끝나는 정수 입력: 10

1부터 10까지의 합은 55입니다.

In [68]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
for j in range(n,m + 1):
    total += j
print(f'{n}부터 {m}까지의 합은 {total}입니다.')

시작하는 정수 입력: 1
끝나는 정수 입력: 10

1부터 10까지의 합은 55입니다.

In [73]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
i = n
while i <= m:
    if i % 2 == 0:
        total += (i ** 2)
    i += 1
print(f'{n}부터 {m}까지의 짝수 제곱의 합은 {total}입니다.')

시작하는 정수 입력: 3
끝나는 정수 입력: 7

3부터 7까지의 짝수 제곱의 합은 52입니다.

In [76]:
n = int(input("시작하는 정수 입력:"))
m = int(input("끝나는 정수 입력:"))
total = 0
for j in range(n,m + 1):
    if j % 2 == 0:
        total += (j ** 2)
print(f'{n}부터 {m}까지의 짝수 제곱의 합은 {total}입니다.')

시작하는 정수 입력: 4
끝나는 정수 입력: 7

4부터 7까지의 짝수 제곱의 합은 52입니다.

In [78]:
#어떤 학급의 국어 점수가 다음과 같을 때 반복문을 이용하여 A학급의 평균 점수 구하기. =79.0

kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
i = 0
evg = 0
while i < len(kor):
    nn = kor[i]
    i += 1
    evg += nn
evg = evg /10
print(evg)

79.0

In [79]:
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0                            #합
for n in range(len(kor)):            
    to = kor[n]                      # 
    total += to
    n += 1
    
total = total / len(kor)
print(total)

79.0

In [87]:
# Q 10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9
#   이들의 총합은 23입니다.          >>  233168
# 1000미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하세요. if/ a%3 ==0: / a % 5 ==0:

total = 0
n = 1                     # 1을 설정해줌 기본값
while n < 1000:           # 1000미만이 될때까지 계속 반복이야
    if n % 3 == 0:
        total += n
    elif n % 5 == 0:
        total += n
    n += 1
print(f'결과는 {total} 입니다')

결과는 233168 입니다

In [86]:
total = 0             
for n in range(1,1000): 
    if n % 3 == 0:
        total += n
    elif n % 5 == 0:
        total += n
print(f'결과는 {total} 입니다')

결과는 233168 입니다